@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

//colors
$color-white: #fff;
$color-black: #000;
$color-green: #149d4f;
$color-blue: #4137f0;
$color-orange: #fea31b;
$color-light-purple: #4b55c0;
$color-red: red;
//fonts
$font-main: 'Poppins', sans-serif;

